.info {
    background-color: #ffffff;
    height: calc(100vh - 72px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.foto__pessoa {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    position:fixed;
    margin-bottom: 15rem;
    width: 15%;
    max-width: 400px;
}

.titulo__nome {
    text-align: center;
    position: fixed;
    margin-top: 13rem;
    color: rgb(0, 94, 58);
}

.subtitulo {
    text-align: center;
    position: fixed;
    margin-top: 17rem;
    color: #808080; 
    margin-left: 10%;
    margin-right: 10%;
}

@media screen  and (min-width: 0) {
    .foto__pessoa {
        width: 40vh;
    }
    .subtitulo {
        margin-top: 20rem;
    }
}

@media screen and (min-width: 768px) {
    .foto__pessoa {
        width: 20%;
    }

}