Bacharela e Licenciada em História pela Universidade Federal de Juiz de Fora, com ênfase em Patrimônio Histórico. Mestrado em andamento na área de História Social, com foco em História Ambiental e Alimentar, na Universidade Federal do Rio de Janeiro, com financiamento do CNPq. Atualmente integro o Laboratório História e Natureza (LabHeN/UFRJ) e atuo como editora do periódico Ars Historica (PPGHIS/UFRJ).
<br>
<br>
Minha pesquisa de mestrado concentra-se em um tema ainda pouco pesquisado: o vegetarianismo organizado no Brasil no início do século XX. Escolhi este tema com o objetivo de contribuir a pensar o vegetarianismo historicamente no país, num contexto em que se urge refletir sobre novas configurações alimentares para um futuro sustentável.
<br>
<br>
No decorrer da minha trajetória, obtive experiências diversificadas nas áreas de pesquisa, educação, extensão, patrimônio e editoração. Dentre minhas principais atuações estão planejamento e gestão de projetos, análise e organização de dados e informações, docência e facilitações, produção textual, edição e revisão, elaboração de produtos digitais e prática arquivística e museológica.
<br>
<br>
Tais vivências me tornaram uma profissional multifacetada e dinâmica, permitindo-me desenvolver, especialmente, capacidade analítica, pensamento crítico, comunicação oral e escrita, facilidade com trabalho em equipe, criatividade, capacidade de adaptação, autogestão de responsabilidades e resolução de problemas.
<br>
<br>
Sou ligada a causas sociais, ambientais e animalistas.