header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}


.cabecalho {
    padding: 0 5rem;
    justify-content: space-between;
    margin-right: 30rem;
}
.nome__logo {
    display: flex;
    text-align: center;
    color: rgb(0, 94, 58);
}

.menu__item {
    list-style: none;
}
    
.menu__item:last-child .menu__link {
    margin-right: 0;
}

.menu__link {
    color: #808080;
    margin-right: 1.9rem;
    text-decoration: none;
    text-transform: lowercase;
}
    
.menu__link.ativo {
    color: #333333;
    font-weight: bold;
}
    
.menu__link:hover {
    text-decoration: underline;
}

.menu__lista {
    display: flex;
    margin-right: 30rem;
}

.sobre {
	text-align:justify;
}

.contato {
	text-align:justify;
}

.titulo__contato {
    margin-top: 3rem;
}

@media screen  and (min-width: 0) {
    .cabecalho {
        justify-content: center;
        margin-right: 1rem;
    }

    .nome__logo {
        margin-left: 1rem;
    }

    .sobre {
        margin: 3rem;
        align-content: center;
    }

    .contato {
        margin: 5rem
    }

    
}

@media screen and (min-width: 768px) {
    .nome__logo {
        margin-left: 30rem;

    }

    .sobre {
        text-align:justify;
        align-content: center;
        justify-content: space-around;
        margin-left: 30%;
        margin-right: 30%;
       
    }

    .contato {
        text-align:justify;
        margin: 10rem 30rem 30rem 30rem
    }
}